body {
    margin: 0;
}

div.topbar {
    padding: 1rem;
    width: 100vw;
    height: auto;
    background: #3e308a;
}
div.topbar a {
    padding-right: 1rem;
    vertical-align: middle;
}

.white {
    color: white;
}